@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  background-color: #0c1e34;
  color: white;
}
.logo {
  width: 3rem;
  padding: 1rem 0 0.5rem 1rem;
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-right: 1rem;
}
nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: white;
  background-color: black;
  padding: 1rem;
}
.logo-container {
  background-color: white;
}
#page1 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
#page1 article h1,
main article p {
  margin: 2rem 1rem;
}
#page1 article img {
  width: 100%;
}
#page1 article h1 {
  font-size: 2rem;
  width: 80%;
  background-color: #0c1e34;
  padding: 0.5rem;
  color: white;
}
.buttons {
  display: flex;
  justify-content: center;
}
.buttons .button {
  padding: 1rem;
  text-decoration: none;
  color: white;
}
.button:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}

.banner{
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.banner img {
  width: 50%;
}

#page2 {
  margin: 5rem 1rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
}
#page2 article {
  border: 1px solid white;
  padding: 1rem;
  line-height: 1.5rem;
}
#page2 article h1 {
  margin: 1rem;
  font-size: 2rem;
}
#page2 article img {
  width: 100%;
}

#page3 article section {
  display: grid;
  grid-template-columns: 1fr;
}

#page3 article h1 {
  margin: 0 0 1rem 0;
  padding: 1rem;
  background-color: white;
  color: black;
}

#page3 article section img {
  width: 100%;
}
#page4 {
  background-color: white;
  color: black;
}
#page4 article {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
}

#page4 section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;
  padding: 1rem;
}
#page4 img {
  width: 2rem;
}

@media (min-width: 768px) {
  #page1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #page1 article .mobile {
    display: none;
  }
  #page1 article {
    margin: 0;
  }
  #page1 article h1,
  #page1 article p {
    padding: 0 1rem;
  }

  #page2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  #page2 article {
    width: 50%;
    margin: 5rem 0;
  }
  #page3 article {
    margin: 5rem 0;
  }
  #page3 article section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid white;
    margin: 1rem;
  }
  #page3 article section img {
    padding: 1rem;
  }
}
